<p id="notice"><%= notice %></p>

<h1>Listing Instances</h1>

<table>
  <thead>
    <tr>
      <th>Ip address</th>
      <th>Image</th>
      <th>Launch time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.ip_address %></td>
        <td><%= instance.image %></td>
        <td><%= instance.launch_time %></td>
        <td><%= instance.status %></td>
        <td><%= link_to 'Show', instance %></td>
        <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
        <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance', new_instance_path %>
